@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');


$DarkBlue : hsl(217, 28%, 15%);//(intro and email sign up background)
$DarkBlue : hsl(218, 28%, 13%);// (main background)
$DarkBlue : hsl(216, 53%, 9%);//(footer background)
$DarkBlue : hsl(219, 30%, 18%);//(testimonials background)

//@error ### Accent

$Cyan : hsl(176, 68%, 64%);//(inside call-to-action gradient)
$Blue : hsl(198, 60%, 50%);//(inside call-to-action gradient)
$LightRed : hsl(0, 100%, 63%);//(error)




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans';
}

.container{
    width: 100%;
    min-height: 100vh;
    header{
        width: 100%;
        height: max-content;
        background-color: hsl(217, 28%, 15%);
        font-family: 'Raleway', sans-serif;
        nav{
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .logo{
                cursor: pointer;
                width: 100px;
                img{
                    width: 100%;
                }
            }
            ul{
                display: flex;
                gap: 40px;
                font-weight: 400;
                align-items: center;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
    .hero{
        width: 100%;
        background-color: hsl(218, 28%, 13%);
        .hero-image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .hero-content{
            text-align: center;
            color: white;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding-bottom: 100px;
            .hero-header{
                font-size: 2rem;
                font-weight: 700;
            }
            .hero-body{
                font-size: 1.2rem;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.704);
            }
            .call-to-action{
                cursor: pointer;
                width: 70%;
                background: linear-gradient(120deg, $Cyan,$Blue);
                border-radius: 50px;
                padding: 15px;
                margin-top: 10px;
            }
        }
    }
    .features{
        width: 100%;
        min-height: 100vh;
        background-color: hsl(218, 28%, 13%);
        color: white;
        text-align: center;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding-bottom: 200px;
        .feature{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .feature-header{
                font-size: 1.3rem;
                font-weight: 700;
                font-family: 'Raleway',sans-serif;
            }
            .feature-body{
                font-size: 18px;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.704);
            }
        }
    }
    .stay-productive{
        background-color: hsl(218, 28%, 13%);
        width: 100%;
        min-height: 100vh;
        color: white;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .stay-image{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .stay-content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .stay-header{
                font-size: 23px;
                font-weight: 700;
            }
            .stay-body-1,
            .stay-body-2{
                font-size: 19px;
                color: hsla(0, 0%, 100%, 0.704);
            }
            .stay-btn{
                cursor: pointer;
                color: $Cyan;
                display: flex;
                padding: 5px 0;
                width: max-content;
                gap: 10px;
                border-bottom: 2px solid $Cyan;
                span{
                    width: 25px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .testimonial-section{
        color: white;
        padding: 0 50px;
        background-color: hsl(218, 28%, 13%);
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 350px;
        .quote{
            width: 40px;
            margin-bottom: -20px;
            img{
                width: 100%;
            }
        }
        .testimonials{
            width: 100%;
            flex-direction: column;
            gap: 30px;
            display: flex;
            .testimonial{
                background-color: hsl(219, 30%, 18%);
                padding: 30px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                .testimonial-content{
    
                    font-size: 14px;
                    line-height: 25px;
                    color: rgba(255, 255, 255, 0.704);
                }
                .profile{
                    display: flex;
                    width: 100%;
                    gap: 10px;
                    align-items: center;
                    .profile-image{
                        width: 50px;
    
                        img{
                            width: 100%;
                            border-radius: 50px;
                        }   
                    }
                    .profile-information{
                        .name{
                            margin-bottom: 5px;
                            font-family: 'Raleway',sans-serif;
                            font-weight: 700;
                            font-size: 16px;
                        }
                        .job{
                            color: rgba(255,255,255,0.704);
                        }
                    }
                }
            }

        }
    }
    .get-started-container{
        width: 100%;
        position: relative;
        background-color: hsl(216, 53%, 9%);
        .get-started{
            width: auto;
            margin: 0 20px;
            border-radius: 10px;
            padding: 50px 30px;
            background-color: hsl(217, 28%, 15%);
            color: white;
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: -230px;
            position: absolute;
            text-align: center;
            .get-started-header{
                font-family: "Raleway",sans-serif;
                font-size: 25px;
            }
            .get-started-body{
                line-height: 30px;
                font-size: 20px;
                color: rgba(255, 255, 255,.704);
            }
            .form{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .email-container{
                    position: relative;
                    .email{
                        padding: 20px 30px;
                        width: 100%;
                        border-radius: 50px;
                        outline: none;
                        border: none;
                    }
                }
                .email-container.error::after{
                    content: 'Please enter a valid email address';
                    color: $LightRed;
                    position: absolute;
                    bottom: -45%;
                    left: 30px;
                    font-weight: 700;
                }
                .get-started-call-to-action{
                    cursor: pointer;
                    background: linear-gradient(to right , $Cyan,$Blue);
                    padding: 20px;
                    border-radius: 50px;
                    font-weight: 700;
                }
            }
        }
    }
    
    .footer{
        width: 100%;
        background-color: hsl(216, 53%, 9%);
        color: white;
        padding: 0 50px;
        padding-top: 300px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding-bottom: 50px;
        .information{
            display: grid;
            gap: 20px;
            div{
                display: flex;
                align-items: flex-start;
                img{
                    padding-top: 5px;
                }
                p{
                    margin-left: 20px;
                }
            }
        }
        .links{
            display: flex;
            flex-direction: column;
            gap: 50px;
            .left,.right{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            li{
                cursor: pointer;
                list-style: none;
                a{
                    text-decoration: none;
                    color: rgba(255, 255, 255,0.704);
                }
            }
        }
        .social-icons{
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            i{
                border-radius: 100%;
                border: 1px solid rgba(255, 255, 255,0.704);
                padding: 7px;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .container{
        header{
            padding-inline: 100px;
        }
        .hero{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            background-color: hsl(217, 28%, 15%);
            background-image: url(./images/bg-curvy-desktop.svg);
            background-position: bottom;
            background-repeat: no-repeat;
            .hero-image{
                width: 50%;
            }
            .hero-content{
                width: 50%;
                .call-to-action{
                    width: 50%;
                }
            }
        }
        .features{
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
            padding-bottom: 0;
            .feature{
                width: 45%;
            }
        }
        .stay-productive{
            padding-inline: 50px;
            flex-direction: row;
            gap: 50px;
            align-items: center;
            .stay-content{
                .stay-body-1,
                .stay-body-2{
                    font-size: 16px;
                }
            }
        }
        .testimonial-section{
            .testimonials{
                flex-direction: row;
            }
        }
        .get-started-container{

            .get-started{
                width: 50%;
                left: 50%;
                transform: translateX(-50%);
                .get-started-body{
                    font-size: 16px;
                }
                .form{
                    flex-direction: row;
                    .email-container{
                        flex-grow: 1;
                    }
                }
            }
        }
        .footer{
            padding-top: 150px;
            display: grid;
            grid-template-columns: 2fr 2fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                'logo . .'
                'information links social-icons'
            ;
            align-items: flex-start;
            .information{
                grid-area: information;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                    'location phone'
                    'location email'
                ;
                .location{
                    grid-area: location;
                }
                .phone{
                    grid-area: phone;
                }
                .email{
                    grid-area: email;
                }
            }
            .logo{
                grid-area: logo;
            }
            .links{
                justify-content: center;
                grid-area: links;
                flex-direction: row;
            }
            .social-icons{
                grid-area: social-icons;
            }
        }
    }
}